<div class="card card-body">
        <h3>Register</h3>
        <form >
          <div class="form-group">
            <label for="title">Username</label>
            <input type="text" class="form-control" name="username" ng-model="registerform.username" required>
    
            <label for="details">Password</label>
            <input type="text" class="form-control" name="password" ng-model="registerform.password" required></input>
    
            <label for="details">Email</label>
            <input type="text" class="form-control" name="Email" ng-model="registerform.email" required></input>
          
            <label for="details">Location</label>
            <input type="text" class="form-control" name="Location" ng-model="registerform.location" required></input>
          
            <label for="details">Phone number</label>
            <input type="text" class="form-control" name="Phone" ng-model="registerform.phone" required></input>
            
            <label for="exampleFormControlSelect1">User Type</label>
            <select class="form-control mb-3" id="exampleFormControlSelect1" ng-model="registerform.usertype">
                <option>Job seeker</option>
                <option>Company</option>
        </select><br/><br/>
    
          <button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
        </form>
      </div>